body,
html {
    height: 100vh;
    width: 100vw;
}

div {
    border-spacing: 10px;
}

form > * {
    margin-top: 10px;
}

.mainbox {
    overflow:hidden; 
    width:350px; 
    height:325px; 
    border: 1px solid blue;
}
